# Build
/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class

# Lein
/.lein-*
/.nrepl-port

# Idea
.hgignore
.hg/
.idea/
*.iml

# Special files
*.otf
*config.edn
*omnia.error
*omnia.history
debug
