{:keymap      {:jump-select-right {:key :right, :shift true, :ctrl true},
               :down              {:key :down},
               :select-right      {:key :right, :shift true},
               :reformat          {:key \l, :ctrl true, :alt true},
               :copy              {:key \c, :alt true},
               :evaluate          {:key \e, :alt true},
               :exit              {:key \d, :ctrl true},
               :redo              {:key \y, :alt true},
               :jump-left         {:key :left, :ctrl true},
               :signature         {:key \p, :alt true},
               :docs              {:key \i, :alt true},
               :paste             {:key \v, :alt true},
               :delete            {:key :delete},
               :up                {:key :up},
               :select-all        {:key \a, :ctrl true},
               :jump-right        {:key :right, :ctrl true},
               :break             {:key :enter},
               :undo              {:key \z, :alt true},
               :prev-eval         {:key :up, :alt true},
               :suggest           {:key :tab},
               :scroll-down       {:key :page-down},
               :jump-select-left  {:key :left, :shift true, :ctrl true},
               :right             {:key :right},
               :backspace         {:key :backspace},
               :select-down       {:key :down, :shift true},
               :select-left       {:key :left, :shift true},
               :scroll-up         {:key :page-up},
               :select-up         {:key :up, :shift true},
               :expand            {:key \w, :ctrl true},
               :match             {:key \p, :ctrl true},
               :cut               {:key \x, :alt true},
               :next-eval         {:key :down, :alt true},
               :clear             {:key \r, :ctrl true},
               :left              {:key :left}},
 :syntax      {:number   :blue,
               :comma    :white,
               :string   :green,
               :vector   :white,
               :function :yellow,
               :list     :white,
               :keyword  :cyan,
               :word     :yellow,
               :comment  :magenta,
               :map      :white,
               :char     :green,
               :text     :white},
 :terminal    {:font-path "./default_font.otf", :font-size 15}
 :persistence {:history-size 50}}
