{:keymap
 {:jump-select-right {:key :right, :shift true, :ctrl true},
  :select-right      {:key :right, :shift true},
  :copy              {:key \c, :alt true},
  :evaluate          {:key \e, :alt true},
  :move-left         {:key :left},
  :exit              {:key \d, :ctrl true},
  :reformat          {:key \l, :ctrl true, :alt true},
  :delete-previous   {:key :backspace},
  :redo              {:key \y, :alt true},
  :jump-left         {:key :left, :ctrl true},
  :signature         {:key \p, :alt true},
  :paste             {:key \v, :alt true},
  :move-down         {:key :down},
  :documentation     {:key \i, :alt true},
  :select-all        {:key \a, :ctrl true},
  :jump-right        {:key :right, :ctrl true},
  :move-right        {:key :right},
  :undo              {:key \z, :alt true},
  :prev-eval         {:key :up, :alt true},
  :suggest           {:key :tab},
  :move-up           {:key :up},
  :scroll-down       {:key :page-down},
  :delete-current    {:key :delete},
  :jump-select-left  {:key :left, :shift true, :ctrl true},
  :new-line          {:key :enter},
  :select-down       {:key :down, :shift true},
  :select-left       {:key :left, :shift true},
  :scroll-up         {:key :page-up},
  :select-up         {:key :up, :shift true},
  :expand            {:key \w, :ctrl true},
  :cut               {:key \x, :alt true},
  :next-eval         {:key :down, :alt true},
  :clear             {:key \r, :ctrl true}},
 :syntax
 {:characters :green,
  :lists      :white,
  :numbers    :blue,
  :texts      :white,
  :words      :yellow,
  :vectors    :white,
  :strings    :green,
  :comments   :magenta,
  :functions  :yellow,
  :commas     :white,
  :keywords   :cyan,
  :maps       :white},
 :terminal    {:font-path "./default_font.otf", :font-size 15},
 :persistence {:history-file-path ".omnia.history", :history-size 50}}
